<div class="form-container mt-4">
  <%= form_with(model: password, class: "form-element") do |form| %>
    <% if password.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(password.errors.count, "error") %> prohibited this password from being saved:</h4>

        <ul>
          <% password.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="mb-3">
    <%= form.label :website, class: "form-label" %>
    <%= form.text_field :website, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
